

body{
  
    font-family: 'Play', sans-serif;
    color: white;
    background-image: linear-gradient(rgba(252,84,85,0.7),rgba(250,54,131,0.9)), url(./images/image-lion-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
 
}
html{
    height: 100%;
    font-size: 10px;
}
*{
box-sizing: border-box;
}
.container{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    
}
header{
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px 0px;
    border-bottom: 2px solid white;
}
.nav a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin: .5rem;
}
main{
    min-height: 30rem;
    display: flex;
    align-items: center;


}
.herocontent{
   flex: 2;

}
.heroimage{
flex: 1;
 


  
}
.card{
display: flex;
justify-content: space-between;
min-height: 300px;
}
.card1{
   background:url(./images/image-background-card1.jpg) no-repeat;
   background-size: cover;
   width: 30%;

}
.card2{
    background:url(./images/image-background-card2.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    width: 30%;

}
.card3{
    background:url(./images/image-background-card3.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    width: 30%;
}
h1{
    color: rgb(255, 255, 255);
    font-size:5rem;
    margin-bottom: 1.5rem;
}
 p{
     font-size: 1.6rem;
     line-height: 2.4rem;
     margin-bottom: 1.5rem;
 }