html{
    height: 100%;
}
body{
    font-family: 'Play', sans-serif;
    color: white;
    background-image: linear-gradient(#FC5E55, #FA4083);
}
.container{
    width:1024px;
    margin-left: auto;
    margin-right: auto;
    
}
header{

    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid white;

}
main{

    min-height: 200px;
    display: flex;
    align-items: center;
    align-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;

}
.herocontent{
 

    flex:2;
    padding-right: 110px;
}
.heroimage{

    flex:1;
  
}
.card{

    min-height: 300px;
    display: flex;
    justify-content: space-between;
  
}
.card1{
   background-color: tan;
   min-height: 300px;
   width: 30%;
}
.card2{
    background-color:pink;
    min-height: 300px;
    width: 30%;
}
.card3{
    background-color:orange;
    min-height: 300px;
    width: 30%;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 15px;
}
 p{
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 15px;
 }